# Chp 8. Data Has to Go Somewhere
- 발표자 : 이아름
- 발표일 : 2017.9.2(토)

### Relational Databases

In [2]:
import sqlite3

In [3]:
conn=sqlite3.connect('enterprise.db')

In [4]:
curs=conn.cursor()

In [5]:
curs.execute('''CREATE TABLE zoo
(critter VARCHAR(20) PRIMARY KEY,
count INT,
damages FLOAT)''')